Parallax {
    width: 100%;
}

.parallaxDiv {
    width: 100%;

}

.description {
    display: inline-flex;
    text-align: left;
    width: 40%;
}

.icons {
    display: inline-flex;
    text-align: right;
    flex-wrap: wrap;
    width: 50%;

}

p {
    font-size: 20px;
    text-align: left;
    margin-left: 25px;
}

h4 {
    color: black;
}